<% @fav_cats.each do |fav_cat| %>
  <div class="fav col-xs-11 col-sm-11 col-md-4">
    <div class="align-center txt-shadow">
      <% if user_signed_in? %>
        <% if @fav_flg[fav_cat.id] %>
          <button type='submit' class='favorite btn btn-lg' value='<%= fav_cat.id %>' disabled>ふぁぼった</button>
        <% else %>
          <button type='submit' class='favorite btn btn-lg btn-favorite' value='<%= fav_cat.id %>'>ふぁぼる</button>
        <% end %>
      <% end %>
      <%= link_to image_tag(fav_cat.image_url, :class => 'img-responsive img-round'), fav_cat.link %>
    </div>
  </div>
<% end %>
