<section id="search" class="home-section">
  <div class="container">
    <p class='text-ranking'><B>猫探し</B></p>
    <div class="fav_cat row">
      <%= render :template => "search/_fav_cat" %>
    </div>
  </div>
</section>

<%= paginate @fav_cats, remote: true %>
