<section id="ranking" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div>
          <h2>cat2.picsとは</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              cat2.picsは、<a href="https://dev.twitter.com/">「Twitter」</a><a href="https://www.instagram.com/developer/">「Instagram」</a><a href="https://www.flickr.com/services/api/">「flickr」</a><a href="http://developers.500px.com/">「500px」</a>が一般公開しているAPIを利用して検索し、独自のアルゴリズムにより魅力的なネコさん達を表示するサイトです。会員登録することでお気に入りの猫をあつめたり、ランキングの投票に参加することが可能です。
            </div>
          </div>
          <h2>利用規約・免責事項</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              cat2.pics(以下、「当サイト」と呼びます)の利用者(以下、「ユーザ」と呼びます)は、本サービスを利用することにより、本利用規約の全ての記載内容について同意したものとみなされます。
              ユーザは、ユーザ自身の自己責任において当サイトを利用するものとし、当サイトを利用してなされた一切の行為及びその結果について一切の責任を負います。
              ユーザは、サービスを利用したこと、または利用ができなかったこと、ユーザの送信データへの不正アクセスや不正な改変がなされたこと、その他当サイトに関連する事項によって生じた一切の損害について、運営者が賠償責任を負わないことに同意します。
              当サイトは、<a href="https://dev.twitter.com/">「Twitter」</a><a href="https://www.instagram.com/developer/">「Instagram」</a><a href="https://www.flickr.com/services/api/">「flickr」</a><a href="http://developers.500px.com/">「500px」</a>に投稿されている写真と動画を、掲載元サイトが提供する 一般公開されているAPIを利用して検索し、独自のアルゴリズムを使用して掲載しております。著作権については、載元サイト へお問い合わせください。
              機械抽出のため、同一の画像が表示されたり、猫以外の画像が表示されることがありますが場合があります。ご了承ください。
              なお各写真および動画は掲載元サイトのサーバー上にあり、当サイトのサーバーに複製はしておりません。写真および動画の削除については掲載元サイトへお問い合わせください。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
